@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*
{
    padding: 0;
    box-sizing: border-box;
}

.navbar
{
    padding: 3vh;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0);
}

.links
{
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}

.link
{
    /* color: white; */
    font-weight: bold;
    font-style: italic;
    font-family: "lato";
    font-size: smaller;
    display: flex;
    align-items: center;
}

.navitem img
{
    height: 5vh;
    background-color: rgba(255, 255, 255, 0);
    mix-blend-mode: multiply;
}